/* ===== object / component / _page-top.scss ===== */
@use "../../foundation/vars" as v;
@use "../../foundation/mixin" as m;

.c-page-top {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: v.$z-index-page-top;

    display: grid;
    place-items: center;

    width: 50px;
    height: 50px;

    border: 1px solid v.$color-white;
    border-radius: 50%;
    background-color: v.$color-text;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition:
        opacity 0.3s ease,
        visibility 0.3s linear;

    &::after {
        content: "";
        width: 14px;
        height: 7px;
        background-color: v.$color-white;
        clip-path: polygon(50% 0, 100% 100%, 0 100%);
    }

    &.is-show {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

        @include m.hover {
            opacity: 0.7;
        }
    }

    &:focus-visible {
        outline: 2px solid v.$color-white;
        outline-offset: 3px;
        box-shadow: 0 0 0 4px v.$color-text;
    }

    body.is-menu-open & {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}